<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olegsmirnov.homework9">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateEntries.MainCreateEntriesActivity" />
        <activity android:name=".UpdateEntries.MainUpdateEntriesActivity" />
        <activity android:name=".DeleteEntries.MainDeleteEntriesActivity" />
        <activity android:name=".ReadEntries.MainReadEntriesActivity" />
        <activity android:name=".ReadEntries.ReadOneEntryActivity" />
        <activity android:name=".ReadEntries.ReadMultipleEntriesActivity" />
        <activity android:name=".ReadEntries.ReadAllEntriesActivity" />
        <activity android:name=".UpdateEntries.UpdateAllEntriesActivity" />
        <activity android:name=".UpdateEntries.UpdateOneEntryActivity" />
        <activity android:name=".DeleteEntries.DeleteOneEntryActivity" />
        <activity android:name=".DeleteEntries.DeleteMultipleEntriesActivity"></activity>
    </application>

</manifest>